{% extends "index.html" %}
{% block heading %}
    Book Details
{% endblock %}
{% block body %}
    <ul>
        <li>
            Title: {{ bookandreviews[0].title }}
        </li>
        <li>
            Author: {{ bookandreviews[0].author }}
        </li>
        <li>
            Publication Year: {{ bookandreviews[0].year}}
        </li>
        <li>
            ISBN Number: {{ bookandreviews[0].isbn }}
        </li>
        Reviews:
        {% for review in bookandreviews[1] %}
            <li>
                {{ review.name }} , {{ review.comment }} , {{ review.rating }}
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('bookdetails', title = bookandreviews[0].title) }}" method="post">
        <div>
            <input name="review" placeholder="Enter review">
            <button>Submit</button>
        </div>
    </form>
{% endblock %}
{% block logout %}
    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
